.containerCrachaFrente{
  width: 260px;
  margin: auto;
  position: relative;
  color: #ffffff;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.containerCrachaCostas{
  width: 260px;
  margin: auto;
  position: relative;
  color: #2c3a57;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}


.containerCrachaImage{
  width: 100%;
}

.avatarCracha{
  position: absolute;
  bottom: 46.75%;
  left: 30%;
  transition: translate(-50%, -50%);
  text-align: center;
  width: 40%;
  height: 35%;
}

.nomeCracha{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 25px;
  bottom: 28.2%;
  left: 25%;
  text-align: center;
}

.nomeCracha h2{
  max-width: 100%;
  font-size: 11.2px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; // Quantidade de linhas
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

.cargoCracha{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 33%;
  height: 4.2%;
  bottom: 23%;
  left: 33.6%;
  text-align: center;
}

.cargoCracha h2{
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; // Quantidade de linhas
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

.localCracha{
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  width: 60%;
  height: 6%;
  bottom: 55.8%;
  font-size: 14px;
  left: 25.5%;
  transition: translate(-50%, -50%);
  text-align: center;
}

.localCracha h2{
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; // Quantidade de linhas
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

.emailCracha{
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  width: 60%;
  height: 5%;
  bottom: 55.8%;
  font-size: 14px;
  left: 25.5%;
  transition: translate(-50%, -50%);
  text-align: center;

  bottom: 48.1%;
  left: 25.5%;
}

.emailCracha h2{
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; // Quantidade de linhas
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

.numeroCracha{
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  width: 60%;
  height: 5%;
  bottom: 55.8%;
  font-size: 14px;
  left: 25.5%;
  transition: translate(-50%, -50%);
  text-align: center;

  bottom: 40.1%;
  left: 25.5%;
}

.numeroCracha h2{
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; // Quantidade de linhas
  -webkit-box-orient: vertical; 
  overflow: hidden;
}



ul{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  margin: auto;
}

.mobileTitle{
  display: none;
}

.desktopTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  max-width: 30px;
  font-size: 50px;
  font-family: $fontBold;
  color: $corPrimaria;
}

@media screen and (max-width: $desktopBreakpoint) {
  ul{
    flex-direction: column;

  }

  .containerCrachaFrente{
    width: 80%;
    right: 6%;
    margin: auto;
    color: #ffffff;
    padding-bottom: 3px;
  }

  .containerCrachaCostas{
    width: 80%;
    right: 6%;
    margin: auto;
    color: #ffffff;
    padding-top: 6px;
  }

  .mobileTitle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $corPrimaria;
    width: 100%;

    font-size: 35px;
    font-family: $fontBold;
  }

  .desktopTitle{
    display: none;
  }
}





