$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$corPrimaria: #007AFF;
$corFundo: #000B31;

$cinzaFraco: #858FB4;
$cinzaForte: #575F6E;

$pretoFraco: #242731;
$pretoForte: #000000;

$branco: #ffffff;

$vermelho: #FF0000;
$verde: #00FF00;

$desktopBreakpoint: 992px;


